<div class="caosdb-f-form-wrapper">
  <!-- DEPRECATED css class .caosdb-property-text-value - Use
       .caosdb-f-property-single-raw-value or introduce new 
       .caosdb-v-property-text-value -->
  <form action="#" class="form-horizontal" method="post" name="sample_creation.py">
    <div class="form-control caosdb-f-field caosdb-f-entity-property caosdb-f-form-field-required caosdb-f-form-field-cached" data-field-name="ice_core" data-groups="(part1)">
      <label class="col-form-label col-sm-3" data-property-name="ice_core" for="ice_core">Ice Core</label>
      <div class="col-sm-9">
        <div class="dropdown bootstrap-select form-control bs3">
          <select class="selectpicker form-control" name="ice_core" tabindex="-98" title="Nothing selected">
            <option class="bs-title-option" value=""></option>
            <option disabled="disabled" selected="selected" style="display: none" value=""></option>
            <option value="6344">EGRIP15</option>
            <option value="6345">EGRIP16</option>
            <option value="6346">EGRIP17</option>
            <option value="6347">EGRIP18</option>
            <option value="6348">EGRIP19</option>
          </select>
          <button aria-expanded="false" class="btn dropdown-toggle btn-secondary" data-toggle="dropdown" role="button" title="EGRIP15" type="button">
            <div class="filter-option">
              <div class="filter-option-inner">
                <div class="filter-option-inner-inner">EGRIP15</div>
              </div> </div>
            <span class="bs-caret">
              <span class="caret"></span>
            </span>
          </button>
          <div class="dropdown-menu open" role="combobox" style="max-height: 744px; overflow: hidden; min-height: 92px;">
            <div aria-expanded="false" class="inner open" role="listbox" style="max-height: 732px; overflow-y: auto; min-height: 80px;" tabindex="-1">
              <ul class="dropdown-menu inner ">
                <li class="disabled selected active">
                  <a aria-disabled="true" aria-selected="true" class="selected active" role="option" style="display: none;" tabindex="-1">
                    <span class="text"></span>
                  </a>
                </li>
                <li class="selected active">
                  <a aria-disabled="false" aria-selected="true" class="selected active" role="option" tabindex="0">
                    <span class="text">EGRIP15</span>
                  </a>
                </li>
                <li>
                  <a aria-disabled="false" aria-selected="false" role="option" tabindex="0">
                    <span class="text">EGRIP16</span>
                  </a>
                </li>
                <li>
                  <a aria-disabled="false" aria-selected="false" role="option" tabindex="0">
                    <span class="text">EGRIP17</span>
                  </a>
                </li>
                <li>
                  <a aria-disabled="false" aria-selected="false" role="option" tabindex="0">
                    <span class="text">EGRIP18</span>
                  </a>
                </li>
                <li>
                  <a aria-disabled="false" aria-selected="false" role="option" tabindex="0">
                    <span class="text">EGRIP19</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-control caosdb-f-field caosdb-f-entity-property" data-field-name="orig_sample_type" data-groups="(part1)">
      <label class="col-form-label col-sm-3" data-property-name="orig_sample_type" for="orig_sample_type">Original Sample Type</label>
      <div class="col-sm-9">
        <div class="dropdown bootstrap-select form-control bs3">
          <select class="selectpicker form-control" name="orig_sample_type" tabindex="-98" title="Nothing selected">
            <option class="bs-title-option" value=""></option>
            <option disabled="disabled" selected="selected" style="display: none" value=""></option>
            <option value="104">Bag</option>
            <option value="6306">IceCore</option>
            <option value="6318">IceSample</option>
            <option value="6335">Subsample</option>
            <option value="6338">PP_Sample</option>
            <option value="6340">LASM_Sample</option>
          </select>
          <button aria-expanded="false" class="btn dropdown-toggle btn-secondary" data-toggle="dropdown" role="button" title="IceSample" type="button">
            <div class="filter-option">
              <div class="filter-option-inner">
                <div class="filter-option-inner-inner">IceSample</div>
              </div> </div>
            <span class="bs-caret">
              <span class="caret"></span>
            </span>
          </button>
          <div class="dropdown-menu open" role="combobox" style="max-height: 690.2px; overflow: hidden; min-height: 92px;">
            <div aria-expanded="false" class="inner open" role="listbox" style="max-height: 678.2px; overflow-y: auto; min-height: 80px;" tabindex="-1">
              <ul class="dropdown-menu inner ">
                <li class="disabled selected active">
                  <a aria-disabled="true" aria-selected="true" class="selected active" role="option" style="display: none;" tabindex="-1">
                    <span class="text"></span>
                  </a>
                </li>
                <li>
                  <a aria-disabled="false" aria-selected="false" role="option" tabindex="0">
                    <span class="text">Bag</span>
                  </a>
                </li>
                <li>
                  <a aria-disabled="false" aria-selected="false" role="option" tabindex="0">
                    <span class="text">IceCore</span>
                  </a>
                </li>
                <li class="selected active">
                  <a aria-disabled="false" aria-selected="true" class="selected active" role="option" tabindex="0">
                    <span class="text">IceSample</span>
                  </a>
                </li>
                <li>
                  <a aria-disabled="false" aria-selected="false" role="option" tabindex="0">
                    <span class="text">Subsample</span>
                  </a>
                </li>
                <li>
                  <a aria-disabled="false" aria-selected="false" role="option" tabindex="0">
                    <span class="text">PP_Sample</span>
                  </a>
                </li>
                <li>
                  <a aria-disabled="false" aria-selected="false" role="option" tabindex="0">
                    <span class="text">LASM_Sample</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-control caosdb-f-field caosdb-f-entity-property caosdb-f-field-disabled" data-field-name="logging_protocol" data-groups="(part2)" style="display: none;">
      <label class="col-form-label col-sm-3" data-property-name="logging_protocol" for="logging_protocol">Logging Protocol</label>
      <div class="col-sm-9">
        <div class="dropdown bootstrap-select form-control bs3">
          <select class="selectpicker form-control" name="logging_protocol" tabindex="-98" title="Nothing selected">
            <option class="bs-title-option" value=""></option>
            <option disabled="disabled" selected="selected" style="display: none" value=""></option>
            <option value="6350">/logging_protocol_2019-06-15.pdf</option>
          </select>
          <button class="btn dropdown-toggle btn-secondary bs-placeholder" data-toggle="dropdown" role="button" title="Nothing selected" type="button">
            <div class="filter-option">
              <div class="filter-option-inner">
                <div class="filter-option-inner-inner">Nothing selected</div>
              </div> </div>
            <span class="bs-caret">
              <span class="caret"></span>
            </span>
          </button>
          <div class="dropdown-menu open" role="combobox">
            <div aria-expanded="false" class="inner open" role="listbox" tabindex="-1">
              <ul class="dropdown-menu inner "></ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-control caosdb-f-field caosdb-f-entity-property" data-field-name="cutting_protocol" data-groups="(part3)" style="">
      <label class="col-form-label col-sm-3" data-property-name="cutting_protocol" for="cutting_protocol">Cutting Protocol</label>
      <div class="col-sm-9">
        <div class="dropdown bootstrap-select form-control bs3">
          <select class="selectpicker form-control" name="cutting_protocol" tabindex="-98" title="Nothing selected">
            <option class="bs-title-option" value=""></option>
            <option disabled="disabled" selected="selected" style="display: none" value=""></option>
            <option value="6349">/cutting_protocol_2019-08-15.pdf</option>
          </select>
          <button aria-expanded="false" class="btn dropdown-toggle btn-secondary" data-toggle="dropdown" role="button" title="/cutting_protocol_2019-08-15.pdf" type="button">
            <div class="filter-option">
              <div class="filter-option-inner">
                <div class="filter-option-inner-inner">/cutting_protocol_2019-08-15.pdf</div>
              </div> </div>
            <span class="bs-caret">
              <span class="caret"></span>
            </span>
          </button>
          <div class="dropdown-menu open" role="combobox" style="max-height: 636.4px; overflow: hidden; min-height: 0px;">
            <div aria-expanded="false" class="inner open" role="listbox" style="max-height: 624.4px; overflow-y: auto; min-height: 0px;" tabindex="-1">
              <ul class="dropdown-menu inner ">
                <li class="disabled selected active">
                  <a aria-disabled="true" aria-selected="true" class="selected active" role="option" style="display: none;" tabindex="-1">
                    <span class="text"></span>
                  </a>
                </li>
                <li class="selected active">
                  <a aria-disabled="false" aria-selected="true" class="selected active" role="option" tabindex="0">
                    <span class="text">/cutting_protocol_2019-08-15.pdf</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-control caosdb-f-field caosdb-f-entity-property caosdb-f-form-field-required" data-field-name="cutting_date" data-groups="(part2)(part3)" style="">
      <label class="col-form-label col-sm-3" data-property-name="cutting_date" for="cutting_date">Cutting Date</label>
      <div class="caosdb-f-property-value col-sm-9">
        <input class="form-control caosdb-property-text-value" name="cutting_date" type="date"/>
      </div>
    </div>
    <div class="form-control caosdb-f-field caosdb-f-entity-property" data-field-name="bag_numbers" data-groups="(part2)(part3)" style="">
      <label class="col-form-label col-sm-3" data-property-name="bag_numbers" for="bag_numbers">Bag Numbers</label>
      <div class="caosdb-f-field caosdb-f-entity-property" data-field-name="bag_numbers_from">
        <label class="col-form-label col-sm-1" data-property-name="bag_numbers_from" for="bag_numbers_from">from</label>
        <div class="caosdb-f-property-value col-sm-3">
          <input class="form-control caosdb-property-text-value" name="bag_numbers_from" step="1" type="number"/>
        </div>
      </div>
      <div class="caosdb-f-field caosdb-f-entity-property" data-field-name="bag_numbers_to">
        <label class="col-form-label col-sm-1 col-sm-offset-1" data-property-name="bag_numbers_to" for="bag_numbers_to">to</label>
        <div class="caosdb-f-property-value col-sm-3">
          <input class="form-control caosdb-property-text-value" name="bag_numbers_to" step="1" type="number"/>
        </div>
      </div>
    </div>
    <div class="form-control caosdb-f-field caosdb-f-entity-property" data-field-name="box_of_new_samples" data-groups="(part2)(part3)" style="">
      <label class="col-form-label col-sm-3" data-property-name="box_of_new_samples" for="box_of_new_samples">Box of New Samples</label>
      <div class="col-sm-9">
        <div class="dropdown bootstrap-select form-control bs3">
          <select class="selectpicker form-control" name="box_of_new_samples" tabindex="-98" title="Nothing selected">
            <option class="bs-title-option" value=""></option>
            <option disabled="disabled" selected="selected" style="display: none" value=""></option>
            <option value="242">0284</option>
            <option value="244">0062</option>
            <option value="245">0063</option>
            <option value="250">0089</option>
            <option value="2112">1101</option>
            <option value="2123">1112</option>
            <option value="4434">6053</option>
          </select>
          <button aria-expanded="false" class="btn dropdown-toggle btn-secondary" data-toggle="dropdown" role="button" title="0062" type="button">
            <div class="filter-option">
              <div class="filter-option-inner">
                <div class="filter-option-inner-inner">0062</div>
              </div> </div>
            <span class="bs-caret">
              <span class="caret"></span>
            </span>
          </button>
          <div class="dropdown-menu open" role="combobox" style="max-height: 467.8px; overflow: hidden; min-height: 92px;">
            <div aria-expanded="false" class="inner open" role="listbox" style="max-height: 455.8px; overflow-y: auto; min-height: 80px;" tabindex="-1">
              <ul class="dropdown-menu inner ">
                <li class="disabled selected active">
                  <a aria-disabled="true" aria-selected="true" class="selected active" role="option" style="display: none;" tabindex="-1">
                    <span class="text"></span>
                  </a>
                </li>
                <li>
                  <a aria-disabled="false" aria-selected="false" role="option" tabindex="0">
                    <span class="text">0284</span>
                  </a>
                </li>
                <li class="selected active">
                  <a aria-disabled="false" aria-selected="true" class="selected active" role="option" tabindex="0">
                    <span class="text">0062</span>
                  </a>
                </li>
                <li>
                  <a aria-disabled="false" aria-selected="false" role="option" tabindex="0">
                    <span class="text">0063</span>
                  </a>
                </li>
                <li>
                  <a aria-disabled="false" aria-selected="false" role="option" tabindex="0">
                    <span class="text">0089</span>
                  </a>
                </li>
                <li>
                  <a aria-disabled="false" aria-selected="false" role="option" tabindex="0">
                    <span class="text">1101</span>
                  </a>
                </li>
                <li>
                  <a aria-disabled="false" aria-selected="false" role="option" tabindex="0">
                    <span class="text">1112</span>
                  </a>
                </li>
                <li>
                  <a aria-disabled="false" aria-selected="false" role="option" tabindex="0">
                    <span class="text">6053</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-control caosdb-f-field caosdb-f-entity-property" data-field-name="new_subsamples_selector" data-groups="(part3)" style="">
      <label class="col-form-label col-sm-3" data-property-name="new_subsamples_selector" for="new_subsamples_selector">New Subsamples</label>
      <div class="col-sm-9">
        <div class="dropdown bootstrap-select show-tick form-control bs3">
          <select class="selectpicker form-control" multiple="multiple" name="new_subsamples_selector" tabindex="-98" title="Nothing selected">
            <option value="6335">Subsample</option>
            <option value="6338">PP_Sample</option>
            <option value="6340">LASM_Sample</option>
          </select>
          <button aria-expanded="false" class="btn dropdown-toggle btn-secondary" data-toggle="dropdown" role="button" title="Subsample, PP_Sample" type="button">
            <div class="filter-option">
              <div class="filter-option-inner">
                <div class="filter-option-inner-inner">Subsample, PP_Sample</div>
              </div> </div>
            <span class="bs-caret">
              <span class="caret"></span>
            </span>
          </button>
          <div class="dropdown-menu open" role="combobox" style="max-height: 414px; overflow: hidden; min-height: 0px;">
            <div aria-expanded="false" class="inner open" role="listbox" style="max-height: 402px; overflow-y: auto; min-height: 0px;" tabindex="-1">
              <ul class="dropdown-menu inner ">
                <li class="selected">
                  <a aria-disabled="false" aria-selected="true" class="selected" role="option" tabindex="0">
                    <span class="glyphicon glyphicon-ok check-mark"></span>
                    <span class="text">Subsample</span>
                  </a>
                </li>
                <li class="selected">
                  <a aria-disabled="false" aria-selected="true" class="selected" role="option" tabindex="0">
                    <span class="glyphicon glyphicon-ok check-mark"></span>
                    <span class="text">PP_Sample</span>
                  </a>
                </li>
                <li>
                  <a aria-disabled="false" aria-selected="false" role="option" tabindex="0">
                    <span class="glyphicon glyphicon-ok check-mark"></span>
                    <span class="text">LASM_Sample</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-9 col-sm-offset-3 row" style="background-color: rgb(255, 255, 255);">
      <fieldset class="form-inline caosdb-f-form-elements-subform" data-subform-name="new_subsamples" id="new_subsamples_6335" style="padding-left: 15px; padding-right: 15px;">
        <legend>Subsample</legend>
        <div class="form-control caosdb-f-field caosdb-f-entity-property" data-field-name="type">
          <div class="caosdb-f-property-value col-sm-9">
            <input class="form-control caosdb-property-text-value" name="type" type="hidden" value="6335"/>
          </div>
        </div>
        <div class="form-control caosdb-f-field caosdb-f-entity-property" data-field-name="width" style="margin-left: 15px; margin-right: 15px;">
          <label class="col-form-label" data-property-name="width" for="width">width (cm)</label>
          <div class="caosdb-f-property-value">
            <input class="form-control caosdb-property-text-value" name="width" step="any" type="number"/>
          </div>
        </div>
        <div class="form-control caosdb-f-field caosdb-f-entity-property" data-field-name="height" style="margin-left: 15px; margin-right: 15px;">
          <label class="col-form-label" data-property-name="height" for="height">height (cm)</label>
          <div class="caosdb-f-property-value">
            <input class="form-control caosdb-property-text-value" name="height" step="any" type="number"/>
          </div>
        </div>
        <div class="form-control caosdb-f-field caosdb-f-entity-property" data-field-name="rectangular" style="margin-left: 15px; margin-right: 15px;">
          <label class="col-form-label" data-property-name="rectangular" for="rectangular">rectangular</label>
          <div class="caosdb-f-property-value">
            <input class="caosdb-property-text-value" name="rectangular" type="checkbox"/>
          </div>
        </div>
      </fieldset>
      <fieldset class="form-inline caosdb-f-form-elements-subform" data-subform-name="new_subsamples" id="new_subsamples_6338" style="padding-left: 15px; padding-right: 15px;">
        <legend>PP_Sample</legend>
        <div class="form-control caosdb-f-field caosdb-f-entity-property" data-field-name="type">
          <div class="caosdb-f-property-value col-sm-9">
            <input class="form-control caosdb-property-text-value" name="type" type="hidden" value="6338"/>
          </div>
        </div>
        <div class="form-control caosdb-f-field caosdb-f-entity-property" data-field-name="width" style="margin-left: 15px; margin-right: 15px;">
          <label class="col-form-label" data-property-name="width" for="width">width (cm)</label>
          <div class="caosdb-f-property-value">
            <input class="form-control caosdb-property-text-value" name="width" step="any" type="number"/>
          </div>
        </div>
        <div class="form-control caosdb-f-field caosdb-f-entity-property" data-field-name="height" style="margin-left: 15px; margin-right: 15px;">
          <label class="col-form-label" data-property-name="height" for="height">height (cm)</label>
          <div class="caosdb-f-property-value">
            <input class="form-control caosdb-property-text-value" name="height" step="any" type="number"/>
          </div>
        </div>
        <div class="form-control caosdb-f-field caosdb-f-entity-property" data-field-name="rectangular" style="margin-left: 15px; margin-right: 15px;">
          <label class="col-form-label" data-property-name="rectangular" for="rectangular">rectangular</label>
          <div class="caosdb-f-property-value">
            <input class="caosdb-property-text-value" name="rectangular" type="checkbox"/>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="text-right caosdb-f-form-elements-footer">
      <button class="caosdb-f-form-elements-submit-button btn btn-primary btn-secondary" type="submit">Submit</button>
      <button class="caosdb-f-form-elements-cancel-button btn btn-primary btn-secondary" type="button">Cancel</button>
    </div>
  </form>
</div>
